body {
    background-image: url("car\ gif\ racing.gif");
    background-position: center;
    background-size: cover;
}

#mycanvas {
    margin-top: 30px;
    border-width: 10px;
    border-style: ridge;
    background-color: beige;
}

h1,h4 {
    color:red;
}